<div class="movie">
    <img src="https://image.tmdb.org/t/p/w500/{{poster_path}}" alt="{{title}} Poster" class="poster"
        data-movie-id="{{id}}">
    <h3>{{title}}</h3>
    <p>{{overview}}</p>
    <!-- Add a link to view more details or rank the movie -->
    {{!-- {{#if loggedIn}} --}}
    
    {{!-- {{else}} --}}
    {{!-- <a href="/login">Login to rate this movie</a> --}}
    {{!-- {{/if}} --}}
</div>