<!-- Add a section for top-rated movies -->
<section class="top-rated">
    <h2>Top Rated Movies</h2>
    <!-- Display a list of top-rated movies -->
    {{#each topRatedMovies}}
    <div class="top-rated-movie">
        <img src="{{poster}}" alt="{{title}} Poster">
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        <!-- Add a link to view more details or rate the movie -->
        {{#if isAuthenticated}}
        <a href="/movies/{{id}}/rate">Rate this movie</a>
        {{else}}
        <p>Login to rate this movie</p>
        {{/if}}
    </div>
    {{/each}}
</section>