<!-- Display user information if authenticated -->
<p>Welcome, {{user.username}}!</p>


<!-- Add section for user ratings -->
<section class="user-ratings">
    <h2>Your Ratings</h2>
    {{#if userRatings.length}}
    <ul>
        {{#each userRatings}}

        <img src="https://image.tmdb.org/t/p/w500/{{movie_data.poster_path}}" alt="{{movie_data.title}} Poster"
            class="poster" data-movie-id="{{id}}">


        <li>{{movie_data.title}} - Rated
            <form class="form signup-form">
                <div class="user-box form-group">
                    <input id="rating-input" type="number" placeholder="0 to 5 stars">
                </div>
            </form> stars</li>
        <p>
            <form class="form signup-form">
                <div class="user-box form-group">
                    <label for="comment-input">Movie Comments</label>
                    <input type="text" id="comment-input" placeholder="Enter your comment here">
                </div>
                <button class="button is-link is-light login-form" type="submit">
                    Submit Comment
                </button>
            </form>
        </p>
        {{/each}}
    </ul>
    {{else}}
    <p>No ratings yet! Start rating movies!</p>
    {{/if}}
</section>